<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

  <property name="amforeas.logs.level" value="INFO" />
  <property name="amforeas.logs.folder" value="logs" />
  <property name="amforeas.logs.pattern" value="[%d{yyyy-MM-dd HH:mm:ss}] [%thread] [%c{1}:%L] [%p] %m%n" />

  <appender name="STDIN" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${amforeas.logs.pattern}</pattern>
    </encoder>
  </appender>
  
  <!-- HTML Rolling Appender
  
  <appender name="HTMLLogger" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/amforeas.html</file>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
        <layout class="ch.qos.logback.classic.html.HTMLLayout">
            <pattern>%msg%n</pattern>
        </layout>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>logs/amforeas.html.%i</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>3</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>1024KB</MaxFileSize>
    </triggeringPolicy>
  </appender>
  
  -->
  
  <appender name="MAIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <Append>true</Append>
    <File>${amforeas.logs.folder}/amforeas.log</File>
    <encoder>
      <pattern>${amforeas.logs.pattern}</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${amforeas.logs.folder}/old/amforeas.log.%d{yyyy-MM-dd}</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
  </appender>
  
  <appender name="PERFORMANCE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <Append>true</Append>
    <File>${amforeas.logs.folder}/performance.log</File>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${amforeas.logs.folder}/old/performance.log.%d{yyyy-MM-dd}</fileNamePattern>
      <maxHistory>5</maxHistory>
    </rollingPolicy>
  </appender>
  
  <logger name="org.eclipse" level="OFF"/>
  <logger name="com.sun.jersey" level="OFF"/>
  <logger name="org.slf4j" level="OFF"/>
  
  <logger name="amforeas" level="${amforeas.logs.level}">
    <appender-ref ref="MAIN"/>
  </logger>
  
  <logger name="amforeas.PerformanceLogger" level="DEBUG">
    <appender-ref ref="PERFORMANCE"/>
  </logger>
  
  <root level="${amforeas.logs.level}">
    <appender-ref ref="STDIN"/>
  </root>
</configuration>
